*{
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}
#name{
    text-align: center;
}

.wrapper a{
    text-decoration: none;
    color: rgb(35, 23, 209);
}
.wrapper a:hover{
    text-decoration: underline;
}
.listeTp{
    margin-left: 0.15rem;
}

