
.bg-login-image {
    background: url("./login.png");
    background-position: center;
    background-size: cover;

}

.row{
    height: 486px;
    border-radius: 20px;
    overflow: hidden;
}

.form-control, .btn-block{
    border-radius: 10rem;
    margin-top: 15px;
    height: 50px;
}

.eservice{
    padding-top: 40px;
}

.form-container{
    width: 90%;
}

.form-control::placeholder { 
   
    font-size: 13px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

